.popup-tooltip__content {
  background-color: #fff;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  margin: 0 auto;
  padding: 50px 18px;
}

@media screen and (min-width: 880px) {
  .popup-tooltip__content {
    max-width: 395px;
    padding: 60px 36px;
  }
}