.group__button-delete {
  background: transparent;
  border: 0;
  background-image: url(../../../images/buttonDelete.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.3s;
}

.group__button-delete:hover {
  opacity: 0.6;
  transform: scale(1.2);
}