.header__email {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 8px 24px 0 0;
}

@media screen and (min-width: 880px) {
  .header__email {
    font-size: 18px;
    line-height: 22px;
  }
}