.auth__input {
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 27px;
  width: 282px;
  margin: 0 auto 26px auto;
  padding: 0 0 8px 0 ;
  background-color: #000;
  outline: 0;
}